* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --bronze-color: #cd7f32;
    --silver-color: #c0c0c0;
    --gold-color: #ffd700; 
}

body {
    background: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    /* background-color: #cd7f32; */
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    /* makes it a circle */
    border-radius: 50%; 
    border: 1px solid red;
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    /* makes it a circle */
    border-radius: 50%; 
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-weight: 600;
    color: #555;
}

circle {
   fill: none;
   stroke: url(#GradientColor);
   stroke-width: 20px;
   /* 435 = 360° --> 1° = 1,21*/
   stroke-dasharray: 435;
   /* stroke-dashoffset: 148; */
   stroke-dashoffset: 435;
   animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100% {
        stroke-dashoffset: 148;
    }
}

